<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <input type="radio" id="animal" value="Animal" v-model="loveType" />
      <label for="animal">Animal</label>

      <input type="radio" id="flower" value="Flower" v-model="loveType" />
      <label for="flower">Flower</label><br />

      <template v-if="isLoveTypeAnmal">
        <div>
           <input type="checkbox" id="dog" value="Dog" v-model="loveList">
      <label for="dog">Dog</label>
      <input type="checkbox" id="cat" value="Cat" v-model="loveList">
      <label for="cat">Cat</label>
      <input type="checkbox" id="fish" value="Fish" v-model="loveList">
      <label for="fish">Fish</label>
        </div>
      </template>

     <template v-else-if="isLoveTypeFlower">
       <div>
         <input type="checkbox" id="rose" value="Rose" v-model="loveList">
      <label for="rose">Rose</label>
      <input type="checkbox" id="lotus" value="Lotus" v-model="loveList">
      <label for="lotus">Lotus</label>
      <input type="checkbox" id="mali" value="Mali" v-model="loveList">
      <label for="mali">Mali</label>
       </div>
     </template>

     <template v-else>
       <div>
         Please select one!!
       </div>
     </template>

      <span> Love Type: {{ loveType }}</span><br>
      <span> Love List: <span v-if="loveList.length==0">Nothing</span></span><br>
      <ul>
        <li v-for="love in loveList">{{ love }}</li>
      </ul>
      <span> Love List Length: {{ loveList.length }}</span>
    </div>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          loveType: "",
          loveList: [],
        },
        computed: {
          getLoveListLength: function() {
             return this.loveList.length;
          },
          isLoveTypeAnmal:function(){
            return this.loveType=='Animal'
          },
          isLoveTypeFlower:function(){
            return this.loveType=='Flower'
          }
        },

        watch: {
          loveType: function(newValue,oldValue) {
            this.loveList = [];
            
          }
        },
      });
    </script>
  </body>
</html>
